In [1]:
import pandas as pd

import pandas as pd

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [19]:
lending_data = pd.ExcelFile('LCDataDictionary.xlsx')
lending_data.sheet_names
data_dic_sheet1 = lending_data.parse("LoanStats")
data_dic_sheet2 = lending_data.parse("browseNotes")
data_dic_sheet3 = lending_data.parse("RejectStats")


lending_data = pd.DataFrame.from_csv('loan.csv')

/Users/suyashdb/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [20]:
lending_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
from pylab import *
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
#lending_data.hist(lending_data.loan_amnt)

In [32]:
figure()

In [33]:
plot(lending_data.loan_amnt, lending_data.int_rate, 'r')

In [ ]:
fig, axes = plt.subplots(nrows=3, ncols=1)
lending_data['loan_amnt'].plot(kind='bar', figsize=(12, 10), title="Loan Amount")

In [18]:
data_sheet3.head()

       RejectStats File                                        Description
0      Amount Requested         The total amount requested by the borrower
1      Application Date               The date which the borrower applied
2            Loan Title            The loan title provided by the borrower
3            Risk_Score  For applications prior to November 5, 2013 the...
4  Debt-To-Income Ratio  A ratio calculated using the borrowerâ€™s total ...

In [7]:
data.Description

0     The state provided by the borrower in the loan...
1     The self-reported annual income provided by th...
2     The combined self-reported annual income provi...
3     Indicates whether the loan is an individual ap...
4                        post charge off collection fee
5     Number of collections in 12 months excluding m...
6     The number of 30+ days past-due incidences of ...
7             Loan description provided by the borrower
8     A ratio calculated using the borrowerâ€™s total ...
9     A ratio calculated using the co-borrowers' tot...
10    The month the borrower's earliest reported cre...
11    Employment length in years. Possible values ar...
12    The job title supplied by the Borrower when ap...
13    The upper boundary range the borrowerâ€™s FICO a...
14    The lower boundary range the borrowerâ€™s FICO a...
15    The total amount committed to that loan at tha...
16    The total amount committed by investors for th...
17                               LC assigned loan grade
18    The home ownership status provided by the borr...
19        A unique LC assigned ID for the loan listing.
20    The initial listing status of the loan. Possib...
21    The number of inquiries in past 6 months (excl...
22    The monthly payment owed by the borrower if th...
23                            Interest Rate on the loan
24    Indicates if income was verified by LC, not ve...
25                  The month which the loan was funded
26    The most recent month LC pulled credit for thi...
27    The upper boundary range the borrowerâ€™s last F...
28    The lower boundary range the borrowerâ€™s last F...
29                   Last total payment amount received
                            ...
50              The loan title provided by the borrower
51    The total number of credit lines currently in ...
52    Payments received to date for total amount funded
53    Payments received to date for portion of total...
54                            Interest received to date
55                           Late fees received to date
56                           Principal received to date
57               URL for the LC page with listing data.
58    Indicates if the co-borrowers' joint income wa...
59    The first 3 numbers of the zip code provided b...
60               Number of open trades in last 6 months
61        Number of currently active installment trades
62    Number of installment accounts opened in past ...
63    Number of installment accounts opened in past ...
64    Months since most recent installment accounts ...
65    Total current balance of all installment accounts
66    Ratio of total current balance to high credit/...
67    Number of revolving trades opened in past 12 m...
68    Number of revolving trades opened in past 24 m...
69    Maximum current balance owed on all revolving ...
70                Balance to credit limit on all trades
71             Total revolving high credit/credit limit
72                 Number of personal finance inquiries
73                             Number of finance trades
74         Number of credit inquiries in past 12 months
75    The number of accounts on which the borrower i...
76                   Total collection amounts ever owed
77                Total current balance of all accounts
78                                                  NaN
79    * Employer Title replaces Employer Name for al...
Name: Description, dtype: object

In [6]:
file = pd.DataFrame.from_csv('loan.csv')

C:\Users\Suyash\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2825: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [7]:
file.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
file = pd.DataFrame.from_csv('loan.csv',header=0,
        index_col=["loan_amnt", "term"], 
        usecols=["loan_amnt", "term"])

TypeError: from_csv() got an unexpected keyword argument 'usecols'

In [9]:
file = pd.DataFrame.from_csv('loan.csv',header=0,
        index_col=["loan_amnt", "term"], 
        usecols=["loan_amnt", "term"])

TypeError: from_csv() got an unexpected keyword argument 'usecols'

In [10]:
file = pd.DataFrame.from_csv('loan.csv',columns = ["loan_amnt", "term"])

TypeError: from_csv() got an unexpected keyword argument 'columns'

In [13]:
file = pd.DataFrame.from_csv('loan.csv',columns = ["loan_amnt", "term"])file = pd.DataFrame.from_csv('loan.csv',header = None)

C:\Users\Suyash\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2825: DtypeWarning: Columns (0,1,2,3,4,6,7,13,19,24,25,27,28,29,30,31,32,33,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [14]:
file = pd.DataFrame.from_csv('loan.csv',names = ["loan_amnt", "term"])

TypeError: from_csv() got an unexpected keyword argument 'names'

In [15]:
fields = ['loan_amnt', 'term']

In [16]:
file = pd.DataFrame.from_csv('loan.csv',usecols = fields)

TypeError: from_csv() got an unexpected keyword argument 'usecols'

In [17]:
file = pd.read_csv('loan.csv',usecols = fields)

In [18]:
file

        loan_amnt        term
0          5000.0   36 months
1          2500.0   60 months
2          2400.0   36 months
3         10000.0   36 months
4          3000.0   60 months
5          5000.0   36 months
6          7000.0   60 months
7          3000.0   36 months
8          5600.0   60 months
9          5375.0   60 months
10         6500.0   60 months
11        12000.0   36 months
12         9000.0   36 months
13         3000.0   36 months
14        10000.0   36 months
15         1000.0   36 months
16        10000.0   36 months
17         3600.0   36 months
18         6000.0   36 months
19         9200.0   36 months
20        20250.0   60 months
21        21000.0   36 months
22        10000.0   36 months
23        10000.0   36 months
24         6000.0   36 months
25        15000.0   36 months
26        15000.0   36 months
27         5000.0   60 months
28         4000.0   36 months
29         8500.0   36 months
...           ...         ...
887349    20000.0   36 months
887350    10300.0   60 months
887351     4200.0   36 months
887352    15000.0   36 months
887353    15000.0   60 months
887354     6000.0   36 months
887355    26950.0   36 months
887356    23000.0   60 months
887357    18700.0   60 months
887358    25000.0   60 months
887359    25000.0   60 months
887360    26500.0   60 months
887361    21000.0   36 months
887362     8000.0   36 months
887363    12000.0   36 months
887364    10775.0   36 months
887365     7000.0   36 months
887366     6225.0   36 months
887367    10000.0   36 months
887368    13150.0   60 months
887369     4000.0   36 months
887370     7500.0   36 months
887371    10850.0   36 months
887372    12000.0   36 months
887373    11575.0   36 months
887374    10000.0   36 months
887375    24000.0   36 months
887376    13000.0   60 months
887377    12000.0   60 months
887378    20000.0   36 months

[887379 rows x 2 columns]

In [19]:
pd.avg(file.term)

AttributeError: module 'pandas' has no attribute 'avg'

In [20]:
import pandas as pd

In [21]:
import numpy as np
import matplotlib.pyplot as plt

In [22]:
fig, ax = plt.subplots()

In [23]:
H = ax.hist(file.term, bins=50, alpha=0.5, histtype='stepfilled')

TypeError: len() of unsized object

In [24]:
H = ax.hist(file.term)

TypeError: len() of unsized object

In [30]:
im = ax.hist2d(file.loan_amnt, file.term,bins = 20)

ValueError: could not convert string to float: ' 36 months'

In [28]:
file.loan_amnt

0          5000.0
1          2500.0
2          2400.0
3         10000.0
4          3000.0
5          5000.0
6          7000.0
7          3000.0
8          5600.0
9          5375.0
10         6500.0
11        12000.0
12         9000.0
13         3000.0
14        10000.0
15         1000.0
16        10000.0
17         3600.0
18         6000.0
19         9200.0
20        20250.0
21        21000.0
22        10000.0
23        10000.0
24         6000.0
25        15000.0
26        15000.0
27         5000.0
28         4000.0
29         8500.0
           ...
887349    20000.0
887350    10300.0
887351     4200.0
887352    15000.0
887353    15000.0
887354     6000.0
887355    26950.0
887356    23000.0
887357    18700.0
887358    25000.0
887359    25000.0
887360    26500.0
887361    21000.0
887362     8000.0
887363    12000.0
887364    10775.0
887365     7000.0
887366     6225.0
887367    10000.0
887368    13150.0
887369     4000.0
887370     7500.0
887371    10850.0
887372    12000.0
887373    11575.0
887374    10000.0
887375    24000.0
887376    13000.0
887377    12000.0
887378    20000.0
Name: loan_amnt, dtype: float64

In [ ]:
file.loan_amnt

In [31]:
file.loan_amnt

0          5000.0
1          2500.0
2          2400.0
3         10000.0
4          3000.0
5          5000.0
6          7000.0
7          3000.0
8          5600.0
9          5375.0
10         6500.0
11        12000.0
12         9000.0
13         3000.0
14        10000.0
15         1000.0
16        10000.0
17         3600.0
18         6000.0
19         9200.0
20        20250.0
21        21000.0
22        10000.0
23        10000.0
24         6000.0
25        15000.0
26        15000.0
27         5000.0
28         4000.0
29         8500.0
           ...
887349    20000.0
887350    10300.0
887351     4200.0
887352    15000.0
887353    15000.0
887354     6000.0
887355    26950.0
887356    23000.0
887357    18700.0
887358    25000.0
887359    25000.0
887360    26500.0
887361    21000.0
887362     8000.0
887363    12000.0
887364    10775.0
887365     7000.0
887366     6225.0
887367    10000.0
887368    13150.0
887369     4000.0
887370     7500.0
887371    10850.0
887372    12000.0
887373    11575.0
887374    10000.0
887375    24000.0
887376    13000.0
887377    12000.0
887378    20000.0
Name: loan_amnt, dtype: float64

In [32]:
file.term

0          36 months
1          60 months
2          36 months
3          36 months
4          60 months
5          36 months
6          60 months
7          36 months
8          60 months
9          60 months
10         60 months
11         36 months
12         36 months
13         36 months
14         36 months
15         36 months
16         36 months
17         36 months
18         36 months
19         36 months
20         60 months
21         36 months
22         36 months
23         36 months
24         36 months
25         36 months
26         36 months
27         60 months
28         36 months
29         36 months
             ...
887349     36 months
887350     60 months
887351     36 months
887352     36 months
887353     60 months
887354     36 months
887355     36 months
887356     60 months
887357     60 months
887358     60 months
887359     60 months
887360     60 months
887361     36 months
887362     36 months
887363     36 months
887364     36 months
887365     36 months
887366     36 months
887367     36 months
887368     60 months
887369     36 months
887370     36 months
887371     36 months
887372     36 months
887373     36 months
887374     36 months
887375     36 months
887376     60 months
887377     60 months
887378     36 months
Name: term, dtype: object

In [33]:
fig, ax = plt.subplots()

In [34]:
H = ax.hist(file.term, bins=2, alpha=0.5, histtype='stepfilled')

TypeError: len() of unsized object

In [35]:
H = ax.hist(file.loan_amnt)

In [36]:
H = ax.hist(file.loan_amnt, bins=50, alpha=0.5, histtype='stepfilled')

In [38]:
fig, ax = plt.subplots()

In [41]:
H = ax.hist(file.loan_amnt, bins=5, alpha=0.5, histtype='stepfilled')

In [43]:
import numpy as np
import matplotlib.pyplot as plt
x = np.random.normal(size=1000)

fig, ax = plt.subplots()

H = ax.hist(x, bins=50, alpha=0.5, histtype='stepfilled')